@model TimeTracker.Models.TimeModels

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

    @Html.LabelFor(m => m.Role)
    @Html.TextBoxFor(m => m.Role)
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.LabelFor(m => m.Hours)
    @Html.TextBoxFor(m => m.Hours)