@model TimeTracker.Models.TimeModels

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>
<style scoped>
    p {
        color: black;
    }

    .paragraph1 {
        font-size: 25px;
    }

    .button-large {
        font-size: 210%;
    }
    .btn {
  background: #4daceb;
  background-image: -webkit-linear-gradient(top, #4daceb, #2980b9);
  background-image: -moz-linear-gradient(top, #4daceb, #2980b9);
  background-image: -ms-linear-gradient(top, #4daceb, #2980b9);
  background-image: -o-linear-gradient(top, #4daceb, #2980b9);
  background-image: linear-gradient(to bottom, #4daceb, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
</style>

@if (User.Identity.IsAuthenticated)
{
    <p class="paragraph1">Welcome, @User.Identity.Name!</p>
    <button class="btn">Account</button>
    <button class="btn">Schedule</button>
    <button class="btn">Calendar</button>
    <button class="btn">Notes</button>
}
else
{
    <p class="paragraph1">Welcome, Anonymous!</p>
    <button class="btn">Register</button>
    <button class="btn">Login</button>
}
</div>

@*    @Html.LabelFor(m => m.Role)
    @Html.TextBoxFor(m => m.Role)
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.LabelFor(m => m.Hours)
    @Html.TextBoxFor(m => m.Hours)*@