@model TimeTrack.Models.TimeModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TimeModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Wed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Wed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Thu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sun)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sun)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
