@model IEnumerable<TimeTrack.Models.TimeModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sun)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sun)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
